.gamePage {
  padding-left: 0;
  padding-right: 0;
}

.gamePageSections {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;
  padding: 0;
}

.sidebar {
  border-right: 1px solid var(--standard-grey);
  height: 100%;
  width: 300px;
}

.gameBoard {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gameBoardTable {
  background-color: white;
}

.gameBoardTable .cell {
  height: 200px;
  width: 200px;
  font-size: 100px;
  cursor: pointer;
  color: var(--black-shade);
}

.gameBoardTable .cell.free:hover {
  background-color: var(--standard-grey);
}

.gameBoardTable .cell.disabled {
  cursor: not-allowed;
}

.gameBoardTable .cell.free {
  cursor: cursor-pointer;
}

.gameBoardTable .cell.cell-in-win-line {
  background-color: var(--winner-color);
}

.gameBoardTable .cell.cell-x {
  color: var(--standard-green);
}

.gameBoardTable .cell.cell-o {
  color: var(--standard-blue);
}

.gameBoardTable tr:nth-child(2) {
  border-top: 4px solid var(--standard-grey);
  border-bottom: 4px solid var(--standard-grey);
}

.gameBoardTable tr td:nth-child(2) {
  border-left: 4px solid var(--standard-grey);
  border-right: 4px solid var(--standard-grey);
}

.scoreBoard,
.gameOptionsSection {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid var(--mid-grey);
}

.gameOptionsSection {
  padding: 8px;
}

.player {
  display: flex;
  height: 50px;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 8px;
  background-color: var(--standard-grey);
  font-weight: 600;
  color: white;
}

.player-x.player-has-turn {
  background-color: var(--standard-green);
}

.player-o.player-has-turn {
  background-color: var(--standard-blue);
}

.player + .player {
  margin-top: 10px;
}
